# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Some of the popular languages that Data Scientists use are
- Some of the commonly used libraries used by Data Scientists include
- Data Science Tools

# Some of the popular languages that Data Scientists use are:
1. python
2. java
3. R
4. C++

# Some of the commonly used libraries used by Data Scientists include
1. pands
2. numpy
3. matlab

# Data Science Tools
| Data Science Tools | 
-----------------------
| MySQL |
| Power BI |
|  Apache Superset |

# Below are a few examples of evaluating arithmetic expressions in Python

In [16]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [19]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
# Prasadam Guru Prasad